.sect1{
    display: flex;
    height:90vh;
    align-items: center;
    gap:70px;
}
.profilelogo{
    width:400px;
    margin-left: 100px;
    border-radius:50%;
    object-fit: cover;
}
.sect1-2{
    display: flex;
    flex-direction: column;
    gap:18px;
}
.sect1-2{
    font-size: 20px;
    font-weight: 600;
}
h1{
    color: var(--accent-color);
    font-size: 30px;
}
p{
    width:85%;
    font-size: 20px;
    font-weight: 500;
}
.btns >:nth-child(1){
    background-color: transparent;
    border-radius:22px;
    padding:5px;
    padding:13px 13px;
    font-size: 25px;
    border: 2px solid ;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btns{
    display: flex;
    gap:20px;
}
.btns >:nth-child(1):hover{
    background-color: var(--hover-bg);
    color: var(--hover-text);
    text-decoration: none;
}
.btns >:nth-child(2){
    background-color: var(--hover-bg);
    color: var(--hover-text);
    border-radius:22px;
    padding:5px;
    padding:13px 13px;
    font-size: 25px;
    border: 2px solid ;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
.btns >:nth-child(2):hover{
    background-color: var(--accent-color);
    color: var(--hover-text);
}
.social{
    display: flex;
    flex-direction: row;
    gap:10px
}
.social img{
    width:50px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.social img:hover{
    transform: scale(0.9);
}

@media(max-width:1024px){
    .sect1{
    flex-direction: column;
    height:90%;
    }
    .profilelogo{
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .sect1-2{
        align-items: center;
    }
    p{
        font-size:30px;
        text-align:center ;
        width:80%;
    }
    .social{
        margin-bottom:40px;
    }
}

@media(max-width:767px){
    .sect1{
    flex-direction: column;
    }
    .sect1-2{
        align-items: center;
        margin-top: 50px;
        padding-bottom: 50px;
    }
    h1{
        font-size: 40px;
    }
    p{
        width:60%;
        font-size: 50px;

    }
    span{
        font-size: 50px;
    }
    
}
